body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#errorMessage {
    color: red;
    text-align: center;
    margin-top: 10px;
}

#rental-history-container {
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background: #555;
    color: #fff;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #ddd;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #444;
}

.car {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.car:last-child {
    border-bottom: none;
}

.car-info {
    display: flex;
    flex-direction: column;
}

.car-info span {
    margin: 2px 0;
    color: #555;
}

.book-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: #0056b3;
}


#reservations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.reservation-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.reservation-card h2 {
    font-size: 1.2rem;
    margin: 0;
    color: #333;
}

.reservation-card p {
    margin: 0.5rem 0;
    color: #555;
}

.reservation-card .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.reservation-card button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem;
}

.update-btn {
    background-color: #007bff;
    color: #ffffff;
}

.delete-btn {
    background-color: #dc3545;
    color: #ffffff;
}